<html>
    <head>
        <title>Edit Menu Item</title>
        <style>html{
                color: darkgoldenrod;
            }
            a{
                color:olive
            }</style>
            
    </head>

<body>

<!-- INSERT YOUR CODE HERE -->
<form action='{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id)}}' method="POST">
    Enter the new name: <br>
    <input size="30" placeholder="{{i.name}}" name="name">
    <button type="submit">edit</button> <b><a href='{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}'>cancel</a></b>
</form>
</body>

</html>